.App {
  /* text-align: center; */
  /* margin: 1px; */
  padding: 1em 1em;
  border: 2px solid;
  background-color: rgb(29, 27, 18);
	padding: 1em 1em;

}

h1{
	text-align: center;
	font-size: xxx-large !important;
	margin-bottom: 50px;
	font-weight: 200;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-decoration: solid;
	text-shadow: rgb(221, 193, 193);
	color: #5c6064;
	font-family: Times;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
